/* 
    CSS Syntax

    propertyA: valueA;
    propertyB: valueB;
    ...

    * - universal selector; selects all elements in the webpage; least prioritized 
    font-family - sets the font to be used by the browser. If the main font is not
        existing in all browsers, the second font will be chosen as alternative.
    font-size - sets the size of the font
    px - pixels
    html - used to select the elements inside the html tags
    scroll-behavior - modifies the scroll behavior
    body - selects all the elements inside the body
    background-color - modifies the background color

    > - allows selection of the child of the first selector
    Syntax: firstSelector > secondSelector

    display: inline-block - sets the display to inline-block
    inline-block - makes the element inline with its siblings
    float - changes the horizontal element and puts it on the specified location
    rem - root element measurement; 1 rem = 16px
    priority: inline styling > inline css > external css
    !important - disregards the ranking of priority
    vh - viewport height; measurement of the user monitor
    height - sets the height of an element
    list-style-type - changes the style of bullet
    border-radius - round the corner of the element
    text-decoration: overline, line-through, underline
    vw - measurement of user's monitor width

    ID Selector : #id {...}
    Class Selector: .class {...}
*/

* {
    font-family: 'Courier New', monospace;
    font-size: 20px;
}

html { scroll-behavior: smooth; }
body { background-color: skyblue; }
nav { background-color: white; }

nav > div { 
    /* display: inline-block;  */
    float: right;
}

h1 {
    color: red !important;
    font-size: 2rem;
    text-align: center;
}

section {
    height: 100vh;
    text-align: center;
}

h2 { font-size: 1.5rem; }
ol { list-style-type: none; }

#zuitt-motto {
    letter-spacing: 5px;
    font-size: 30px;
}

.offered-items { text-transform: uppercase; }

/* 
    1. Attribute Selector
    tag[attribute] { propery: value; }
    input[required], [autocomplete] { border: 2px solid yellow; } 

    Combination Selector

    2. Adjacent Sibling Selector
    firstSelector + secondSelector { propery: value; }

    3. Descendant Selector
    firstSelector descendant { propery: value; }

    4. General Siblings Selector - selects the sibling of the first selector
    firstSelector ~ generalSibling { propery: value; }
*/

input[required] { border: 2px solid yellow; }

h3 + img {
    width: 300px;
    height: 300px;
    border-radius: 150px;
}

section li { color: #075966 }
h2 ~ a { text-decoration: line-through; }

/* 
    position: relative - dictates the position of the element to have
        the exact measurement in terms of position

    relative - makes the position relative to its direction
*/

form {
    color: rgb(0, 0, 128);
    text-align: center;
    background-color: white;
    border: 2px solid black;
    width: 25vw;
    position: relative;
    left: 37.25%;
    padding: 25px;
}

button {
    color: white;
    background-color: #CF0053;
    border: 0;
    border-radius: 15px;
    cursor: pointer;
}

a:hover { background-color: #b4d6de; }