* {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

p:nth-child(3) { color: yellow; }
h1 { font-size: 30px; }
#description { text-transform: uppercase; }
.language { background-color: rgb(174, 208, 161); }
ol[type] > li { border: 2px solid skyblue; }

body img { 
    width: 200px;
    height: 200px; 
    border-radius: 150px;
}

img + ul { list-style-type: none; }
ul > li { letter-spacing: 5px; }
ul ~ p { text-align: center; }